<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration Form</title>
  </head>
  <body>
    <form action="" method="post">
      <table border="1">
        <tr>
          <th colspan="2" align="center">
            Registration Form
          </th>
        </tr>

        <tr>
          <td>
            Enter First Name :
          </td>

          <td>
            <input type="text" name="txtfname" id="" />
          </td>
        </tr>

        <tr>
          <td>
            Enter Last Name :
          </td>
          <td>
            <input type="text" name="txtlname" id="" />
          </td>
        </tr>

        <tr>
          <td>
            Enter Your Email :
          </td>

          <td>
            <input type="text" name="txtemail" id="" />
          </td>
        </tr>

        <tr>
          <td>
            Select Gender :
          </td>

          <td>
            <input type="radio" name="gender" id="" value="Male" />
            Male
            <input type="radio" name="gender" id="" value="Female" />
            Female
          </td>
        </tr>

        <tr>
          <td>
            Enter Mobile No :
          </td>

          <td>
            <input type="text" name="txtmno" id="" />
          </td>
        </tr>

        <tr>
          <td>
            Enter Your Age :
          </td>
          <td>
            <input type="text" name="txtage" id="" />
          </td>
        </tr>

        <tr>
          <td>
            Enter Password :
          </td>

          <td>
            <input type="password" name="txtpwd" id="" />
          </td>
        </tr>

        <tr>
          <td>
            Enter confirm Password :
          </td>

          <td>
            <input type="password" name="txtcpwd" id="" />
          </td>
        </tr>

        <tr>
          <td colspan="2" align="center">
            <input type="submit" name="submit" value="Register" />
            <input type="reset" name="reset" id="" />
          </td>
        </tr>
      </table>
    </form>
  </body>
</html>